<h1>Our Services</h1>

<p> Natural Organic Search Optimization </p>
<p> Local Search Optimization </p>
<p> Google Image Optimization </p>
<p> Online Reputation Management </p>

 <p>
 <%= link_to "home", root_path %>
</p>